<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RastreFast - Home</title>
  <link rel="stylesheet" href="css/default.css">
  <link rel="stylesheet" href="css/homePage.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/footer.css">
</head>
<body>
  <%- include('partials/header.ejs') %>

  <main>
    <section class="section--form">
      <div class="container">
        <div class="form-section_around">
          <h1>Suas encomendas em um s贸 lugar!</h1>
          <form action="/tracker" method="get" class="form-search">
            <input type="text" placeholder="Code Tracker..." name="code">
            <button type="submit">Buscar</button>
          </form>
        </div>
        
      </div> 
    </section>

    <section class="info-section">
      <div class="container">
        <h2>Como rastrear encomendas com o RastreFast? </h3>
        <div class="box--info_around">
          <div class="box--info">
            <h3>Cadastre o c贸digo da encomenda</h3>
            <picture class="img--info-section">
              <img src="img/barcode-op.png" alt="c贸digo de barra">
            </picture>
            <p>Estar esperando aquela encomenda da china baratinho? Ou aquele presente que voc锚 encomendou para sua namorada? Ou, s贸 quer monitorar algum pedido? Voc锚 so precisa nos fornecer c贸digo de rastreamento que fazemos o resto por voc锚.</p>
          </div>
          <div class="box--info">
            <h3>Correios, China Post, Aliexpress, Shopee e GearBest</h3>
            <picture class="img--info-section">
              <img src="img/list-2.png" alt="c贸digo de barra">
            </picture>
            <p>Atrav茅s do RastreFast, voc锚 pode gerenciar todas suas encomendas em um s贸 lugar. Incrivel, n茫o? Atrav茅s desse site voc锚 pode monitorar suas encomendas internacionar ou nacionais independe de qual seja a transportadora</p>
          </div>
          <div class="box--info">
            <h3>Aplicativo mobile (IOS ou/e Android)</h3>
            <picture class="img--info-section">
              <img src="img/phone-2.png" alt="c贸digo de barra">
            </picture>
            <p>Voc锚 pode monitorar suas encomendas atrav茅s do navegador do seu computador ou pelo aplicativo mobile. Al茅m de poder sincronizar suas buscar entre as plataformas, basta criar uma conta.</p>
          </div>
        </div>
        
      </div>
    </section>
  </main>

  <%- include('partials/footer.ejs') %>
  
</body>
</html>