<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RastreFast - Historico</title>
  <link rel="stylesheet" href="css/default.css">
  <link rel="stylesheet" href="css/account.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/footer.css">
</head>
<body>
  <%- include('partials/header.ejs') %>

  <main>
    <div class="container">
      <h1>Cadastra-se:</h1>
      <hr>
      <form action="/api/createAccount" method="post">
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Digite seu nome...">
        <label for="email">E-mail:</label>
        <input type="email" name="email" placeholder="Digite seu email..." >
        <label for="password">Senha:</label>
        <input type="password" name="password" placeholder="Crie uma senha..." autocomplete="off">
        <button type="submit">Cadastrar</button>
      </form>
      <h4>Já possui uma conta? <a href="/login">clique aqui</a></h4>
    </div>
  </main>

  <%- include('partials/footer.ejs') %>
</body>
</html>