

main .section--form {
  background-color: rgb(0, 40, 95);
  width: 100vw;
  height: calc(100vh - 130px );
}

main .section--form h1 {
  margin-top: -200px;
  margin-bottom: 80px;
  font: lighter normal 80px 'Roboto', sans-serif;
  color: aliceblue;
}

main .section--form .form-search {
  display: flex;
  background-color: white;
  border-radius: 10px;
  width: 500px;
  margin: 0 auto;
}

main .section--form .form-search input{
  height: 50px;
  width: 100%;
  font: bold normal 16px 'Roboto', sans-serif;
  padding: 3px 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
}

main .section--form .form-search button {
  width: 70px;
  font: bold normal 14px 'Roboto', sans-serif;
  background-color: rgb(0, 100, 214);
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 1px solid black;
  color: white;
  cursor: pointer;
}
main .section--form .form-section_around {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .info-section {
  margin-top: 100px;
}

main .info-section h2 {
  font-size: 30px;
}

.box--info_around {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

main .info-section .box--info {
  margin: 90px 25px 10px 25px;
  width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main .info-section .box--info h3 {
  font-size: 25px;
  text-align: center;
}

main .info-section .box--info p {
  font-size: 16px;
  text-align: center;
}

main .info-section .img--info-section {
  background-color: rgb(0, 40, 95);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin: 50px 0;
}

main .info-section .img--info-section img {
  height: 110px;
}