<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RastreFast - Home</title>
  <link rel="stylesheet" href="/css/default.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/error.css">
</head>

<body>
  <%- include('partials/header.ejs') %>

  <div class="container">
    <main>
      <h1><%=statusCode %></h1>
      <p><%= msg %> </p>
    </main>

  </div>


  <%- include('partials/footer.ejs') %>

</body>

</html>