<footer>
  <ul class="redes-socias">
    <li>
      <img src="/img/github.png" alt="Github Logo">
      <h4>GitHub</h4>
    </li>
    <li>
      <img src="/img/linkedin.png" alt="Linkedin Logo">
      <h4>Linkedin</h4>
    </li>
    <li>
      <img src="/img/Instagram-Logo.png" alt="Instagram Logo">
      <h4>Instagram</h4>
    </li>
  </ul>
  <div class="references">
    <span>Desenvolvido por</span>
    <span><a href="#"><img src="/img/HildoDev.png" alt=""></a></span>
  </div>
</footer>