<% if(errors.length > 0) { %>
<div class="message-container">
  <ul class="errors-list">
    <% errors.map(error => { %>
    <li class="error-item"><%= error %></li>
    <% }) %>
  </ul>
</div>
<% } %>

<% if(success.length > 0) { %>
<div class="message-container">
  <ul class="success-list">
    <li class="success-item"><%= success %></li>
  </ul>
</div>

<% } %>